@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Oldenburg&family=Roboto:ital,wght@0,300;1,100&display=swap');

body{
    /* background-color: rgb(255, 246, 226); */
    background: linear-gradient(90deg, rgb(255, 253, 248), rgb(252, 229, 185));
    text-align: center;
}
h1 {    
    font-size: 2rem;
    font-family: 'Emblema One', cursive;
    margin: 30px 0;
}



/* New task section */
#new-task-section *{    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#task-templates-section{
    margin-left: -120px;
    margin-bottom: 6px;
}
#new-task-input-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
#input-new-task {    
    width: 300px;
    height: 20px;
    margin: 0 6px 0 12px;
    padding: 10px 8px;
    font-size: 1rem;
}
#button-add-task {
    height: 44px;
    width: 44px;
    font-size: 2rem;
}
#button-add-task:focus{
    outline: 0.5px black initial;    
    border-radius: 2px;
}



/* Tasks */
.task-element{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.task-description{
    font-family: 'Roboto', sans-serif;
}

.task-lock-button{

}

.task-done-button{

}

.task-remove-button{

}

.timestamp{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;    
    font-style: italic;
}

.task-done{
    background-color: rgba(200, 255, 188, 0.356);
}

