#button-add-task:focus{
    outline: 0.5px black initial;    
    border-radius: 2px;
}



.task-element{
    margin-top: 12px;
}

.task-description{

}

.task-lock-button{

}

.task-done-button{

}

.task-remove-button{

}

.timestamp{
    
}

.task-done{
    background-color: rgba(200, 255, 188, 0.356);
}

