@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Oldenburg&family=Roboto:ital,wght@0,300;1,100&display=swap');

body{
    background-color: rgb(255, 246, 226);
    text-align: center;
}
h1 {    
    font-family: 'Emblema One', cursive;
    margin: 30px 0;
}



/* New task section */
#new-task-section *{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#task-templates-section{
    margin-bottom: 8px;
}
#new-task-input-section *{
    font-size: 1.5rem;
}
#button-add-task:focus{
    outline: 0.5px black initial;    
    border-radius: 2px;
}



/* Tasks */
.task-element{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.task-description{
    font-family: 'Oldenburg', cursive;
}

.task-lock-button{

}

.task-done-button{

}

.task-remove-button{

}

.timestamp{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;    
    font-style: italic;
}

.task-done{
    background-color: rgba(200, 255, 188, 0.356);
}

